<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<barclaycardcw>
			<information>
				<version>3.0.266</version>
			</information>
			<shop>
				<alias_management>0</alias_management>
				<await_notification>1</await_notification>
				<external_checkout_account_creation>force_selection</external_checkout_account_creation>
			</shop>
			<logging>
				<level>error</level>
			</logging>
			<general>
				<operation_mode><![CDATA[test]]></operation_mode>
				<pspid/>
				<test_pspid/>
				<live_sha_passphrase_in/>
				<live_sha_passphrase_out/>
				<test_sha_passphrase_in/>
				<test_sha_passphrase_out/>
				<hash_method><![CDATA[sha512]]></hash_method>
				<order_id_schema><![CDATA[order_{id}]]></order_id_schema>
				<title/>
				<order_description_schema><![CDATA[Order {id}]]></order_description_schema>
				<template><![CDATA[default]]></template>
				<template_url/>
				<shop_id/>
				<api_user_id/>
				<api_password/>
				<alias_usage_message/>
				<transaction_updates><![CDATA[inactive]]></transaction_updates>
			</general>
		</barclaycardcw>
		<payment>
			<barclaycardcw_mastercard>
				<active>0</active>
				<model>Customweb\BarclaycardCw\Model\Payment\Method\MasterCard</model>
				<payment_action>initialize</payment_action>
				<group>barclaycardcw</group>
				<title><![CDATA[MasterCard]]></title>
				<description><![CDATA[Pay with MasterCard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<threeds_state><![CDATA[enabled]]></threeds_state>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</barclaycardcw_mastercard><barclaycardcw_masterpass>
				<active>0</active>
				<model>Customweb\BarclaycardCw\Model\Payment\Method\MasterPass</model>
				<payment_action>initialize</payment_action>
				<group>barclaycardcw</group>
				<title><![CDATA[MasterPass]]></title>
				<description><![CDATA[Pay with MasterPass]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</barclaycardcw_masterpass><barclaycardcw_creditcard>
				<active>0</active>
				<model>Customweb\BarclaycardCw\Model\Payment\Method\CreditCard</model>
				<payment_action>initialize</payment_action>
				<group>barclaycardcw</group>
				<title><![CDATA[Credit Card]]></title>
				<description><![CDATA[Pay with Credit Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<payment_method_listing><![CDATA[2]]></payment_method_listing>
				<credit_card_brands><![CDATA[visa,mastercard,americanexpress,jcb,maestro,cartebleu,solo]]></credit_card_brands>
				<threeds_state><![CDATA[enabled]]></threeds_state>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</barclaycardcw_creditcard><barclaycardcw_americanexpress>
				<active>0</active>
				<model>Customweb\BarclaycardCw\Model\Payment\Method\AmericanExpress</model>
				<payment_action>initialize</payment_action>
				<group>barclaycardcw</group>
				<title><![CDATA[American Express]]></title>
				<description><![CDATA[Pay with American Express]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<threeds_state><![CDATA[enabled]]></threeds_state>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</barclaycardcw_americanexpress><barclaycardcw_jcb>
				<active>0</active>
				<model>Customweb\BarclaycardCw\Model\Payment\Method\Jcb</model>
				<payment_action>initialize</payment_action>
				<group>barclaycardcw</group>
				<title><![CDATA[JCB]]></title>
				<description><![CDATA[Pay with JCB]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<threeds_state><![CDATA[enabled]]></threeds_state>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</barclaycardcw_jcb><barclaycardcw_visa>
				<active>0</active>
				<model>Customweb\BarclaycardCw\Model\Payment\Method\Visa</model>
				<payment_action>initialize</payment_action>
				<group>barclaycardcw</group>
				<title><![CDATA[Visa]]></title>
				<description><![CDATA[Pay with Visa]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<threeds_state><![CDATA[enabled]]></threeds_state>
				<three_d_secure_behavior><![CDATA[never]]></three_d_secure_behavior>
				<three_d_secure_country_list/>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</barclaycardcw_visa><barclaycardcw_maestro>
				<active>0</active>
				<model>Customweb\BarclaycardCw\Model\Payment\Method\Maestro</model>
				<payment_action>initialize</payment_action>
				<group>barclaycardcw</group>
				<title><![CDATA[Maestro]]></title>
				<description><![CDATA[Pay with Maestro]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<refusing_threshold><![CDATA[3]]></refusing_threshold>
				<threeds_state><![CDATA[enabled]]></threeds_state>
				<country_check><![CDATA[inactive]]></country_check>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</barclaycardcw_maestro><barclaycardcw_paypal>
				<active>0</active>
				<model>Customweb\BarclaycardCw\Model\Payment\Method\PayPal</model>
				<payment_action>initialize</payment_action>
				<group>barclaycardcw</group>
				<title><![CDATA[PayPal]]></title>
				<description><![CDATA[Pay with PayPal]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</barclaycardcw_paypal>
		</payment>
	</default>
</config>