.magecomp-cookie-template {
    min-height: 35px;
    position: fixed;
    z-index: 999;
    padding: 5px;
}
.moreinfo {
    margin-top: 15px;
    position: absolute;
}
.top {
    height: auto;
    position: relative;
    z-index: 999;
    min-height: 40px;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
}
.bottom {
    height: auto;
    position: fixed;
    z-index: 999;
    padding: 5px;
    min-height: 60px;
    bottom: 0;
}
.cookietext {
    font-size: 12px;
    font-weight: normal;
}
.cookiehidelink {
    width: auto;
    border: 1px solid #00adef;
    border-radius: 4px;
    float: left;
    text-decoration: none !important;
    text-align: center;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}
a.cookiemoreinfolink:hover {
    color: #fff !important;
    text-decoration: none;
}
a.cookiemoreinfolink {
    color: #000;
}