/.buildpath
/.cache
/.metadata
/.project
/.settings
/.idea
/nbproject
atlassian*
auth.json

/sitemap
/sitemap.xml

/app/config_sandbox
/app/etc/config.php
/app/etc/env.php
/app/bootstrap.php
/app/code/Magento/TestModule*

/node_modules
/.grunt

/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
!/pub/media/captcha/.htaccess

/pub/static/*
!/pub/static/.htaccess

/var/*
!/var/.htaccess

/generated/*
/vendor/*
!/vendor/.htaccess
