* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    max-width: 100%;
    margin: 0 auto;
    /*font-family: "Ubuntu Regular", "Ubuntu Light", arial;*/
    font-size-adjust: none;
    width: 100%;
}

.template02 div, p, span, th, td {
    word-wrap: break-word;
    word-break: break-all;
}

.template02 td {
    vertical-align: top;
}

.template02 .items td.blanktotal {
    background-color: #FFFFFF;
    border: 0mm none #fff;
    border-top: 0.1mm solid #fff;
    border-right: 0.1mm solid #fff;
}

.template02 .top-title span {
    display: block;
    font-size: 15px;
    color: #000;
}

.template02 .table-data tbody td.label {
    color: #2f2f2f;
    /*font-family: 'Ubuntu';*/
    font-weight: bold;
    font-size: 16px;
}

.template02 .table-data thead tr, .template02 .table-data thead tr th {
    border-bottom: 6px solid;
    height: 50px;
}

.template02 .table-data thead tr th {
    border-bottom-color: rgb(204, 0, 0);
}

.template02 .table-data thead tr td {
    /*font-family: "Ubuntu";*/
    text-transform: uppercase;
    text-align: left;
    width: 23.6253%;
    font-size: 14px;
}

.template02 .myheader-iv {
    width: 95%;
    margin-right: 5%;
    position: relative;
    float: left;

    clear: both;
}

.template02 .top-header-iv {
    clear: both;
    width: 100%;
    float: left;
}

.template02 .bottom-header-iv {
    clear: both;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.template02 .title-page-iv1 {
    float: left;
    width: 75%;
}

.template02 .title-page-iv1 .title-page {
    /*font-family: 'Ubuntu Regular';*/
    color: #FFFFFF;
    text-align: left;
    font-size: 25px;
    line-height: 50px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #cc0000;
    width: 50%;
    padding-left: 5.334%;
}

.barcode:before {
    background-repeat: no-repeat !important;
}

.template02 .barcode {
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    text-align: left;
    margin-left: 5.334%;
}

/*Barcode*/
.barcode:before {
    content: "";
    display: block;
    width: 160px;
    height: 100px;
}

.template02 .logo-iv {
    width: 30%;
    text-align: right;
    float: right;
}

.template02 .id-order-iv {
    text-align: left;
    width: 45%;
    float: left;
    margin-left: 4%;
}

.template02 .main-content {
    clear: both;
    margin: 0 3.6% 0 3.6%;
    max-width: 92.8%;
}

.template02 .info-cus {
    float: left;
    width: 100%;
}

.template02 .payment-box,
.template02 .billing-box {
    width: 49%;
    float: left;
}

.template02 .shipping-box,
.template02 .shipping-add-box {
    float: right;
    width: 49%;
}

.template02 .title-color {
    /*font-family: 'Ubuntu';*/
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
}

.template02 .shipping-box .content,
.template02 .shipping-add-box .content,
.template02 .payment-box .content,
.template02 .billing-box .content {
    border-top: 6px solid #cc0000;
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    padding: 10px 20px;
    margin-top: 5px;

}

.template02 .top-main-if {
    float: left;
    width: 100%;
    clear: both;
}

.template02 .bottom-main-info {
    clear: both;
    margin: 0 3.6% 0 3.6%;
    max-width: 92.8%;
}

.template02 .grandtotal {
    background: #ffe8e8;
    font-size: 20px;
}

.template02 .grandtotal tfoot td {
    border-top: 7px solid #fff !important;
    text-align: right;
    padding: 5px 20px;
}

.template02 .grandtotal tfoot td.label strong {
    line-height: 40px;
}

.template02 .grandtotal tbody td {
    border: 0 none;
    text-align: right;
}

.template02 table thead td {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 12px 20px;
    text-transform: uppercase;
    vertical-align: middle;
}

.template02 .tbody-2 {
    border-bottom: 1px solid #d6d6d6;
}

.template02 .tbody-2 td {
    background: #e9e9e9;
}

.template02 .items-tr {
    background: #e9e9e9;
}

.template02 .table-data tbody {
    text-align: left;
}

.template02 .table-data tbody td {
    padding: 12px 20px;
    color: #2f2f2f;
}

.template02 .table-data tbody td.a-right {
    text-align: right;
}

.template02 .table-data tbody td.last {
    text-align: right;
}

.footer-total {
    width: 100%
}

.template02 .grand_total {
    color: #e00000;
    font-size: 20px;
    /*font-family: 'Ubuntu';*/
}

.template02 .row-grandtotal {
    border-top: 0.1mm solid #fff;
}

.template02 .list-detail {
    border-style: solid;
    border-width: 0px 0px 6px 0px;
    border-color: #cc0000;

}

.template02 .show-product-chan {
    background-color: #D6D6D6;
}

.template02 .show-product-le {
    background-color: #fff;
}

.footer-template02{
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 5%;
    text-align: center;
    width: 90%;
    position: absolute;
    bottom: 0;
}

.template02 div.footer-text {
    /*font-family: 'Ubuntu';*/
    color: #FFFFFF;
}

.template02 .term-conditions {
    margin-top: 20px;
    margin-bottom: 30px;
}

.template02 .totals {
    float: right;
    width: 49%;
    background: #e9e9e9;
}

.template02 .body-total {
    height: auto;
    float: right;
    margin: 10px;
}

.template02 .total-row {
    width: 100%;
    text-align: right;
    float: right;
    padding: 5pt 0pt;
}

.template02 .total-row-grand {
    border-top: 1px solid #fff;
}

.template02 .total-label {
    /*font-family: 'Ubuntu';*/
    font-size: 11pt;
    color: #2F2F2F;
    width: 45%;
    float: left;
    height: 22pt;
}

.template02 .total-value {
    font-size: 11pt;
    width: 45%;
    height: 22pt;
    float: right;
}

.template02 .grand-total, .template02 .grand-total-value, .template02 .grand-total-label {
    /*font-family: 'Ubuntu';*/
    font-weight: bold;
}

.template02 .grand-total-value {
    color: #bf2323;
}

.template02 .note {
    padding: 20px 5%;
    border: 1px solid #D6D6D6;
}

.template02 .note-box {
    width: 49%;
    float: left;
}

.template02 .general-info {
    display: block;
    width: 100%;
    float: left;
    /*font-family: 'Ubuntu Light';*/
    font-size: 15px;
}

.template02 .general-info .info-label {
    font-weight: bold;
}

#container-inner {
    position: relative;
    height: auto;
    padding: 0px;
    margin: 0 auto;
    border: 0px;
    word-wrap: normal;
}

.template02 .p-note, .template02 .term-conditions p {
    text-align: justify;
}

/*box information*/

.template02 .box-infomations {
    width: 50%;
    color: #000;
    font-size: 14px;
    text-align: right;
    float: right;
}

.template02 .box-infomations .info-label {
    display: block;
    width: 100%;
    float: left;
}

.template02 .box-infomations .company-name {
    font-weight: bold;
    font-size: 18px;
    /*font-family: 'Ubuntu';*/
    text-transform: uppercase;
}

/*End box information*/