<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hemage\CheckoutNewsletterSubscription\Api\Data\NewsletterSubscriptionInterface" type="Hemage\CheckoutNewsletterSubscription\Model\Data\NewsletterSubscription" />
    <preference for="Hemage\CheckoutNewsletterSubscription\Api\NewsletterSubscriptionManagementInterface" type="Hemage\CheckoutNewsletterSubscription\Model\NewsletterSubscriptionManagement" />
</config>