<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/Magento/ObjectManager/etc/config.xsd">
 <!--   <preference for="Magento\Catalog\Model\Product\Option\Type\Select" type="Pektsekye\OptionExtended\Model\Product\Option\Type\Select" />  
    <preference for="Magento\Sales\Model\Quote" type="Pektsekye\OptionExtended\Model\Quote" />       -->     
</config>
