<!-- ko if: isEnabled -->
<div class="amrec-subscription-paypal-information">
    <p class="title"><!-- ko i18n: 'Subscription information:' --><!-- /ko --></p>
    <p class="message">
        <span><!-- ko i18n: 'Once redirected to PayPal, you will be asked to complete 2 additional steps to set PayPal as your payment method:' --><!-- /ko --></span>
        <ol>
            <li><!-- ko i18n: 'confirm your order;' --><!-- /ko --></li>
            <li><!-- ko i18n: 'confirm the subscription for each subscription item in your order.' --><!-- /ko --></li>
        </ol>
    </p>
    <p class="note">
        <span class="note-word"><!-- ko i18n: 'NOTE:' --><!-- /ko --></span>
        <!-- ko i18n: 'if you skip step 2, you will be charged for the first billing period only. Your subscription will be cancelled after that period is over automatically.' -->
        <!-- /ko -->
    </p>
</div>
<!-- /ko -->
