@media all and (min-width: 640px) {
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field {
    display: block;
    width: 50%;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field:nth-child(2n) {
    padding-left: 7px;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.datepicker .control,
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.timepicker .control,
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.comment {
    width: 100%;
  }
}
.amcheckout-delivery-date .field {
  float: left;
  box-sizing: border-box;
  padding-top: 4px;
  width: 100%;
}
.amcheckout-delivery-date .field.comment {
  width: 100%;
}
.amcheckout-delivery-date .field.datepicker,
.amcheckout-delivery-date .field.timepicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amcheckout-delivery-date .field.datepicker .control,
.amcheckout-delivery-date .field.timepicker .control {
  flex: none;
  width: 60%;
}
.amcheckout-delivery-date .field.datepicker .control .ui-datepicker-trigger {
  margin-left: 7px;
}
.amcheckout-delivery-date .field .label {
  display: block;
  margin: 12px 0;
}
.amcheckout-delivery-date .clearer {
  clear: both;
}
.amcheckout-delivery-date .field._required > .label:after {
  margin: 0 0 0 5px;
  color: #e02b27;
  content: '*';
  font-size: 1.2rem;
}
.page-main .block.block-order-details .delivery {
  float: right;
  font-weight: 600;
}
.page-main .block.block-order-details .delivery .delivery-field {
  float: left;
  margin-left: 12px;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%5C%2Fstatic%5C%2Ffrontend%5C%2Flib%5C%2Fcss%5C%2Fsource%5C%2Flib%5C%2F_responsive.less%22%2C%22%5C%2Fstatic%5C%2Ffrontend%5C%2FAlothemes%5C%2Felectro3s%5C%2Fen_US%5C%2FAmasty_CheckoutDeliveryDate%5C%2Fcss%5C%2Fsource%5C%2F_module.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAiDA%2CgBAH2C%3BEC2BvC%2CqBAAsB%2CaAAY%2CeAAgB%2C0BAA0B%3BIAEpE%2CcAAA%3BIACA%2CUAAA%3B%3BEAGJ%2CqBANkB%2CaAAY%2CeAAgB%2C0BAA0B%2COAMvE%2CUAAU%3BIACP%2CiBAAA%3B%3BEAGJ%2CqBAVkB%2CaAAY%2CeAAgB%2C0BAA0B%2COAUvE%2CWAAY%3BEACb%2CqBAXkB%2CaAAY%2CeAAgB%2C0BAA0B%2COAWvE%2CWAAY%3BEACb%2CqBAZkB%2CaAAY%2CeAAgB%2C0BAA0B%2COAYvE%3BIACG%2CWAAA%3B%3B%3BAA7ER%2CyBAA0B%3BEAElB%2CWAAA%3BEACA%2CsBAAA%3BEACA%2CgBAAA%3BEACA%2CWAAA%3B%3BAAGJ%2CyBARsB%2COAQrB%3BEACG%2CWAAA%3B%3BAAGJ%2CyBAZsB%2COAYrB%3BAACD%2CyBAbsB%2COAarB%3BEACG%2CaAAA%3BEACA%2CmBAAA%3BEACA%2C8BAAA%3B%3BAAGJ%2CyBAnBsB%2COAmBrB%2CWAAY%3BAACb%2CyBApBsB%2COAoBrB%2CWAAY%3BEACT%2CUAAA%3BEACA%2CUAAA%3B%3BAAGJ%2CyBAzBsB%2COAyBrB%2CWAAY%2CSAAS%3BEAClB%2CgBAAA%3B%3BAA1BR%2CyBAA0B%2COA6BtB%3BEACI%2CcAAA%3BEACA%2CcAAA%3B%3BAAIR%2CyBAA0B%3BEACtB%2CWAAA%3B%3BAAGJ%2CyBAA0B%2COAAM%2CUAAa%2CSAAM%3BEAC%5C%2FC%2CiBAAA%3BEACA%2CcAAA%3BEACA%2CSAAS%2CGAAT%3BEACA%2CiBAAA%3B%3BAAGJ%2CUAAW%2COAAM%2CoBAAqB%3BEAE9B%2CYAAA%3BEACA%2CgBAAA%3B%3BAAHR%2CUAAW%2COAAM%2CoBAAqB%2CUAMlC%3BEACI%2CWAAA%3BEACA%2CiBAAA%22%7D */