@media (min-width: 768px), print {
	.barclaycardcw_fieldset {
		width: 48%;
	}
}


/*** EXTERNAL CHECKOUT ***/

.barclaycardcw-externalcheckout-login .nav-sections,
.barclaycardcw-externalcheckout-login .nav-toggle,
.barclaycardcw-externalcheckout-login .panel.wrapper,
.barclaycardcw-externalcheckout-login .page-footer,
.barclaycardcw-externalcheckout-login .minicart-wrapper,
.barclaycardcw-externalcheckout-login .block-search,
.barclaycardcw-externalcheckout-login .compare.wrapper,
.barclaycardcw-externalcheckout-review .nav-sections,
.barclaycardcw-externalcheckout-review .nav-toggle,
.barclaycardcw-externalcheckout-review .panel.wrapper,
.barclaycardcw-externalcheckout-review .page-footer,
.barclaycardcw-externalcheckout-review .minicart-wrapper,
.barclaycardcw-externalcheckout-review .block-search,
.barclaycardcw-externalcheckout-review .compare.wrapper {
	display: none;
}

.barclaycardcw-externalcheckout-review .modal-popup .modal-footer .action-hide-popup {
	line-height: 1.42857143;
    padding: 0;
    color: #1979c3;
    text-decoration: none;
    background: none;
    border: 0;
    display: inline;
    border-radius: 0;
    font-weight: 400;
}

#external-checkout-progress-wrapper .place-order-actions {
	margin: 20px 0 0;
	text-align: center;
	padding: 0;
	list-style: none none;
}

#external-checkout-progress-wrapper .place-order-actions .action.primary.checkout {
	width: 100%;
	line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
}

#external-checkout-review-table .item-actions {
	display: none;
}


/*** CHECKOUT ***/

.customweb-barclaycardcw-payment-form .card-brand-image-box {
	display: inline-block;
}

.customweb-barclaycardcw-payment-form .card-brand-image-color.brand-is-deselected {
	display:none;
}

.customweb-barclaycardcw-payment-form .card-brand-image-grey.brand-is-selected {
	display:none;
}

.customweb-barclaycardcw-payment-form .card-brand-image-selection {
	margin: 5px 0;
}

.customweb-barclaycardcw-payment-form .card-brand-image-selection img {
	width:auto;
	height: 20px;
	margin-right: 3px;
}

.customweb-barclaycardcw-payment-form .invalid-card-number,
.customweb-barclaycardcw-payment-form .invalid-cvc-number {
	border-color: #ed8380;
	background-image: url(../images/invalid.png) !important;
	background-position: right 5px center;
	background-repeat: no-repeat !important;
}

.customweb-barclaycardcw-payment-form .valid-card-number,
.customweb-barclaycardcw-payment-form .valid-cvc-number {
	background-image: url(../images/valid.png) !important;
	background-position: right 5px center;
	background-repeat: no-repeat !important;
}

.customweb-barclaycardcw-payment-form .multi-control:after {
	content: "";
	display: table;
	clear: both;
}
.customweb-barclaycardcw-payment-form .multi-control > div > div {
	width: auto;
	float: left;
	margin-right: 5px;
	margin-top: 0;
}

.customweb-barclaycardcw-payment-form .help-block {
	margin-top: 7px;
}

.customweb-barclaycardcw-payment-form .card-number .multi-control > div > div,
.customweb-barclaycardcw-payment-form .alias .multi-control > div > div {
	width: 100%;
	float: none;
	margin: 0;
}