.barclaycardcw-payment-information-block {
	margin: 0 0 3rem;
}

.barclaycardcw-transaction-payment-information-block {
	margin: 3rem 0;
	background-color: #f1f1f1;
	padding: 1rem;
}

.barclaycardcw-transaction-information .tooltip,
.barclaycardcw-payment-information-block .tooltip {
	float: right;
}

@media (min-width: 768px) {
	.barclaycardcw-transaction-information,
	.barclaycardcw-transaction-captures {
		float: left;
		width: calc( (100%) * .5 - 30px );
	}
	
	.barclaycardcw-transaction-history,
	.barclaycardcw-transaction-refunds {
		float: right;
		width: calc( (100%) * .5 - 30px );
	}
}

.barclaycardcw_form .admin__field .note,
.barclaycardcw_form .admin__field div.mage-error {
	clear: both;
	padding: 5px 0;
	margin-left: calc( (100%) * .33333333 + 30px );	
}
.barclaycardcw_form .admin__field .note {
	font-size: 12px;
	color: #303030;
}
.barclaycardcw_form .admin__field div.mage-error,
.barclaycardcw_form td.value div.mage-error {
	font-size: 12px;
	color: #e02b27;
}

.barclaycardcw_form .html-field {
	line-height: 3.2rem;
}

.barclaycardcw_form .multi-control:after {
	content: "";
	display: table;
	clear: both;
}
.barclaycardcw_form .multi-control > div > div {
	width: auto;
	float: left;
	margin-right: 5px;
	margin-top: 0;
}


/*** CHECKOUT ***/

.barclaycardcw_form .card-number .multi-control > div > div {
	width: 100%;
	float: none;
	margin: 0;
}

.barclaycardcw_form .card-brand-image-color.brand-is-deselected {
	display:none;
}

.barclaycardcw_form .card-brand-image-grey.brand-is-selected {
	display:none;
}

.barclaycardcw_form .card-brand-image-selection {
	margin-top: 5px;
}

.barclaycardcw_form .card-brand-image-selection img {
	width:auto;
	height: 20px;
	margin-right: 3px;
	vertical-align: middle;
}

.barclaycardcw_form .invalid-card-number,
.barclaycardcw_form .invalid-cvc-number {
	border-color: #ed8380;
	background-image: url(../images/invalid.png) !important;
	background-position: right 5px center;
	background-repeat: no-repeat !important;
}

.barclaycardcw_form .valid-card-number,
.barclaycardcw_form .valid-cvc-number {
	background-image: url(../images/valid.png) !important;
	background-position: right 5px center;
	background-repeat: no-repeat !important;
}

.barclaycardcw_form .alias select {
	width: 100%;
}

.barclaycardcw_form .alias select option:empty {
	display: block;
}