.ambuilder-checkout-item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #2e87d1;
  color: #fff;
  font-size: 20px;
  cursor: move;
}
.static .ambuilder-checkout-item {
  background: #2e87d1 9c;
  cursor: not-allowed;
}
.ambuilder-checkout-item .ambuilder-static {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
}
.ambuilder-checkout-item .ambuilder-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 12px;
  height: 26px;
}
.ambuilder-checkout-item .ambuilder-icon .ambuilder-drag {
  width: 12px;
  height: 26px;
}
.ambuilder-checkout-item .ambuilder-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}
.ambuilder-checkout-item .ambuilder-input {
  box-sizing: border-box;
  padding: 8px;
  max-width: 100%;
  font-size: 14px;
  cursor: text;
}
.ambuilder-checkout-item .ambuilder-input-wrapper {
  max-width: 100%;
}
.ambuilder-layout-container.-disabled .ambuilder-checkout-item,
.ambuilder-layout-container.-disabled .ambuilder-checkout-item .ambuilder-input {
  cursor: not-allowed;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%5C%2Fstatic%5C%2Fadminhtml%5C%2FMagento%5C%2Fbackend%5C%2Fen_US%5C%2FAmasty_CheckoutLayoutBuilder%5C%2Fjs%5C%2Flayout-builder%5C%2Fsrc%5C%2FApp%5C%2FCheckoutItem%5C%2Fstyles%5C%2FCheckoutItemComponent.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAeA%3BEAEQ%2CkBAAA%3BEACA%2CaAAA%3BEACA%2CmBAAA%3BEACA%2CsBAAA%3BEACA%2CuBAAA%3BEACA%2CsBAAA%3BEACA%2CaAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CWAAA%3BEACA%2CeAAA%3BEACA%2CYAAA%3B%3BAAGJ%2COAAQ%3BEACJ%2CsBAAA%3BEACA%2CmBAAA%3B%3BAApBR%2CwBAuBI%3BEACI%2CkBAAA%3BEACA%2CQAAA%3BEACA%2CUAAA%3BEACA%2CeAAA%3B%3BAA3BR%2CwBA8BI%3BEACI%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3B%3BAAnCR%2CwBAsCI%2CgBAAgB%3BEACZ%2CWAAA%3BEACA%2CYAAA%3B%3BAAxCR%2CwBA2CI%3BEACI%2CmBAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3B%3BAA9CR%2CwBAiDI%3BEACI%2CsBAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3BEACA%2CeAAA%3BEACA%2CYAAA%3B%3BAAtDR%2CwBAyDI%3BEACI%2CeAAA%3B%3BAAKJ%2C2BADuB%2CUAAW%3BAAAtC%2C2BAA2B%2CUAAW%2CyBAElC%3BEACI%2CmBAAA%22%7D */