<div class="payment-option opc-payment-additional newsletter last">
    <form class="form newsletter-subscription-form">
        <div class="payment-option-inner">
            <div class="newsletter-subscription"><h1>Keep in touch</h1></div>
            <input type="checkbox" id="newsletter-subscription" checked="checked" value="1" name='newsletter-subscription'/>
            <label for="newsletter-subscription">
                <span data-bind="i18n: 'Send me exclusive rewards points and special offers no more than once a month. Unsubscribe at any time. Our privacy policy outlines how we use personal information.'"></span>
            </label>
        </div>
    </form>
</div>