.lookbook .easypin-marker {
	color: #fff;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #ff5555;
	text-align: center;
}
.lookbook .easypin-marker:hover {
	background-color: #ff5555;
	color: #fff;
}
.lookbook .easypin-marker:hover .easypin-popover {
	opacity: 1;
	visibility: visible;
}
.lookbook .easypin-marker:before,
.lookbook .easypin-marker .icon:before {
	content: "+";
	font-size: 26px;
	display: block;
}
.lookbook .easypin-popover {
	display: block !important;
	opacity: 0;
	visibility: hidden;
	text-align: left;
	width: 180px;
	left: -70px;
	background: transparent;
	z-index: 20;
}
.lookbook .easypin-popover .product-pin-wrap {
	line-height: normal;
	background: #fff;
	padding: 0px 0px 15px;
	position: relative;
	z-index: 1;
}
.lookbook .easypin-popover .product-pin-wrap a {
	text-decoration: none;
}
.lookbook .easypin-popover .product-pin-wrap:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
	-webkit-filter: drop-shadow(0 1px 2px black);
	filter: drop-shadow(0 1px 1px #dfdfdf);
}
.lookbook .image-wrap {
	margin-bottom: 15px;
}
.lookbook .title-wrap,
.lookbook .price-wrap {
	padding-left: 20px;
}
.lookbook .title-wrap h5 {
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin: 0 0 5px;
}
.lookbook .title-wrap h5:focus {
	text-decoration: none;
}
.lookbook .price-label {
	display: none;
}
.lookbook .price-box .price {
	color: #ff5555;
}
.main-product-pin {
	margin-bottom: 48px; }