.stickyCart {
  position: fixed;
  background: #1d4ed8;
  width: 100%;
  bottom: 0;
  height: 80px;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
}

.stickyCart.sticky_show_atc {
  display: block;
}

.stickyCart .stickyChild {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.stickyCart .stickyChild #parentQtySticky {
  height: 43px;
}

.stickyCart .stickyChild #timerSticky {
  position: relative;
}

.stickyCart .stickyChild .clSticky {
  padding: 0 10px 0 10px;
}

.stickyCart .stickyChild .clSticky .quantity {
  text-align: left;
  margin-right: 0;
  position: relative;
}

.stickyCart .stickyChild .clSticky .quantity .qty {
  width: calc(100% - 20px);
  border: 0;
  height: 40px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.stickyCart .stickyChild .clSticky .stickyProductName {
  color: #eee;
}

.stickyCart .stickyChild .clSticky .imgBorder {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: solid 1px #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickyCart .stickyChild .clSticky .imgBorder .borderImg {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

.stickyCart .stickyChild .clSticky .imgBorder .borderImg .stickyImg {
  width: 100%;
  max-width: 100%;
}

.stickyCart .stickyChild #btnSticky {
  background-color: transparent;
  min-height: 42px;
  border-color: #fff;
}

.stickyCart .stickyChild #btnSticky:hover {
  background-color: #2563eb;
  color: #fff;
}

.stickyCart .stickyChild .contentShow #btnSticky {
  color: #fff;
  border: 1px solid #ccc;
}

.stickyCart .btn-plus {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
}

.stickyCart .btn-plus .items {
  background: transparent;
  color: #fff;
  border: none;
  width: 100%;
}

.stickyCart .btn-plus .items .fa {
  font-family: "luma-icons";
  font-style: normal;
  font-size: 9px;
}

.stickyCart .btn-plus .items .fa.fa-angle-up:before {
  content: "+";
}

.stickyCart .btn-plus .items .fa.fa-angle-down:before {
  content: "-";
}

.stickyCart .quantity input:focus {
  outline: 0;
}

@media only screen and (max-width: 767px) {
  .contentHide {
    display: none;
  }

  .contentShow #btnSticky {
    width: 100%;
  }
}