<!doctype html>
<html>
<body>
<div class="header" style="background-image:url({{var header5}})">
    <div class="header-left">
        <div class="logo-left">
            <a class="logo" href="{{store url=""}}">
            <img class="logo"
                    width="{{var businessInformation.getLogoWidth()}}"
                    height="{{var businessInformation.getLogoHeight()}}"
                    src="{{var logo_url}}"
                    alt="{{var logo_alt}}"
                    border="0"
            />
            </a>
        </div>
    </div>
    <div class="header-right">
        <div class="info">
            <h1 class="info-title">{{trans "ORDER"}}</h1>
            <p>{{trans "Order Increment"}} #{{var order.increment_id}}</p>
            <p>{{trans "Order Date"}} #{{var order_date}}</p>
            <p>{{trans "Order Amount"}} <span
                    class="price">{{var order_amount|raw }}</span></p>
        </div>
    </div>
    <div class="customer-name">
        <p>{{trans "Order To"}}</p>
        <strong>{{var customer_name}}</strong>
    </div>
</div>
<div id="wrapper">
    <div class="clr"></div>
    <div class="content">
        <div class="address-content">
            <div class="billing-content">
                <div class="billing-address">
                    <h3 class="mp-block-heading">{{trans "Billing Address"}}</h3>
                    <p>{{var formattedBillingAddress|raw}}</p>
                </div>
            </div>
            <div class="shipping-content">
                <div class="shipping-address">
                    <h3 class="mp-block-heading">{{trans "Shipping Address"}}</h3>
                    <p>{{var formattedShippingAddress|raw}}</p>
                </div>
            </div>

        </div>
        <div class="clr"></div>
    </div>

    {{layout area="frontend" handle="pdfinvoice_order_items3wimg" order_id=$order_id}}

    <div class="shipping-payment">
        <div class="shipping-method">
            <h3 class="mp-block-heading">{{trans "Shipping Method"}}</h3>
            <table class="paymentTable">
                <tbody>
                <tr>
                    <td>
                        <dl class="payment-method checkmemo">
                            <dt class="title">{{var order.getShippingDescription()}}</dt>
                        </dl>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="payment-method">
            <h3 class="mp-block-heading">{{trans "Payment Method"}}</h3>
            <table class="paymentTable">
                <tbody>
                <tr>
                    <td>
                        <dl class="payment-method checkmemo">
                            <dt class="title">{{var payment_html|raw}}</dt>
                        </dl>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{depend orderNote}}
    <div class="footer-left">
        <h3 class="mp-note">{{trans "Notes"}}:</h3>
        <span style="font-style: italic;">{{var orderNote|raw}}</span>
    </div>
    {{/depend}}
    <div class="clr"></div>

</div>
<div class="business-information">
    <div class="business address-business">
        <span><span class="fa" style="font-family: fontawesome;">&#xf041;   </span>{{var businessInformation.getAddress()}}</span>
    </div>
    <div class="business phone-tax">
        <div class="icon-phone">
            <span class="business-str"><span class="fa" style="font-family: fontawesome;">&#xf095;  </span>{{var businessInformation.getPhone()}}</span>
        </div>
        <span class="business-str">{{trans "Tax ID"}} #{{var businessInformation.getVatNumber()}}</span>
    </div>
    <div class="business email-domain">
        <div class="email" style="width:5px">
            <span class="business-str"><span class="fa" style="font-family: fontawesome;">&#xf2b6;  </span>{{var businessInformation.getContact()}}</span>
        </div>
        <div class="domain">
            <span class="business-str"><span class="fa" style="font-family: fontawesome;">&#xf0ac;  </span>{{store url=""}}</span>
        </div>
    </div>
</div>
</body>
</html>
