
body {
font-family: "Roboto", sans-serif;
}
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
     font-family: 'Roboto';
}
.header .search-area .form-search .field .control.catalogsearch .catalogsearch-box {
   display:none;
}
.header .header-bottom {
    background: rgb(69, 168, 247);
    background: linear-gradient(90deg, rgba(69, 168, 247, 1) 0%, rgba(141, 199, 247, 1) 100%, rgba(0, 212, 255, 1) 100%);
}
.nav-sections-item-content .magicmenu {
   background:transparent!important;
 }

.magicmenu .nav-desktop .level0 a.level-top, .magicmenu .nav-desktop .level0.dropdown a.level-top {
    color: #fff;
}
.header .content-search .search-area .form-search .action.search .fa:before {
    font-family: 'FontAwesome';
    font-size: 23px;
    color: #333;
    font-weight: 400;
    content: "\f002";
}
.header .content-search .search-area .form-search .action.search {
    position: absolute;
    background-color: transparent;
    right: 18px;
    width: 32px;
     border:none;
}
.page-footer .block-footer-top .collapsible:first-child {
    width: 28%;
}
.header .content-search .search-area .form-search,
.header .content-search .search-area .form-search .field .control.catalogsearch .input-text {
      border-radius: 50px;
}
.header .content-search .search-area .form-search .action.search {
position: absolute;
    background-color: transparent;
    right: 0px;
    width: 60px;
    border: none;
    padding: 0;
    border-radius: 0 50px 50px 0;
}
.magicmenu .nav-desktop>.level0+.level0>a {
    border-left: none;
}
.header .content-search .search-area .form-search .action.search:hover {
     background-color: rgb(69, 168, 247);
  
}
.header .search-area .form-search {
    border: 2px solid #E5DADA;
}
.page-footer .footer-links-company,
.page-footer .block-footer-top {
    background-color: #000;
}

.page-footer .block-footer-top .collapsible:first-child .content.toggle-content .info,
.page-footer .block-footer-top .collapsible:first-child .sub-title,
.page-footer .block-footer-top .collapsible:first-child .address,
.page-footer .block-footer-top .title,
.page-footer #cms-static-main-footer a {
    color: #fff;
}
.page-footer #cms-static-main-footer a:hover {
  text-decoration:underline!important;
}
.page-footer .copyright span {
    color: #fff;
font-weight:600;
}
.page-footer .block-footer-top .collapsible:first-child .content.toggle-content .icon.icon-support {
    margin-right: 5px;
}
.page-footer .block-footer-top .collapsible:first-child .content.toggle-content .icon-location .ec-mail,
.page-footer .block-footer-top .collapsible .content.toggle-content  .ec-map-pointer {
  float:left;
margin-right: 5px;
}
.page-footer .block-footer-top .collapsible:first-child .content.toggle-content .icon.icon-support:before {
    font-size: 28px;
    color: #fff;
    margin-right: 0;
}
.page-footer .block-footer-top .collapsible:first-child .content.toggle-content .icon-location .ec-mail,
.page-footer .block-footer-top .collapsible:first-child .content.toggle-content .icon-location .ec-map-pointer{
  font-size:22px;
  color:#fff;
}
.page-footer .block-footer-top .collapsible:last-child .menu-ft:first-child .link-list li,
.page-footer .block-footer-top .collapsible:last-child .menu-ft:first-child {
    width: auto;
}
.page-footer .block-footer-top .collapsible:last-child .menu-ft:first-child .link-list {
    display: inline-block;
}
.block-newletter .input-box .subscribe-panel .panel-text,
.block-newletter .input-box .subscribe-panel .panel-text2,
p.white-color,.white-color {
color:#fff;
}
.ec-map-pointer:before {
    content: "\75";
}
.ec-mail:before {
    content: "\74";
}
.page-footer .block-footer-top .title {
      font-size: 18px;
    min-height:44px;
text-transform: uppercase;
}
#cms-static-page-bottom {
  background: #45A8F7;
}
.block-subscribe div.actions button.button {
    background-color: #222;
    border-color: #222;
}

.newpolicy-box,.brandOuterbox ul {
text-align:center;
width:100%;
display:inline-block;
padding:0;
}
.newpolicy-box li {
   display:inline-block;
width:32%;
padding:0 10px;
}
.newpolicy-box h3 {
color: #FF9923;
    font-weight: 600;
}
.bottom-policy-img {
    width: 70px;
    margin: 0 auto 15px;
    border: 1px solid #FF9923;
    border-radius: 50px;
    text-align: center;
    height: 70px;
    line-height: 66px;
}
.bottom-policy-img img {
  display:inline-block;
}
.home-gird-categories {
  display:none;
}
.brandOuterbox {
position:relative;
border-bottom:1px solid #CDC4C4;
margin-bottom: 15px;
    display: inline-block;
    width: 100%;
padding-bottom: 10px;
}
.brandOuterbox:before {
content: "";
    position: absolute;
    left: -50%;
    bottom: -1px;
    display: inline-block;
    width: 50%;
    height: 1px;
    background: #CDC4C4;
    top: auto;
}
.brandOuterbox .regular:before {
content: "";
    position: absolute;
   left:auto;
    right: -50%;
    bottom: -11px;
    display: inline-block;
    width: 50%;
    height: 1px;
    background: #CDC4C4;
    top: auto;
}

.eyecontact h2,
.brandOuterbox h2 {
   color: #000;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}
.brandOuterbox h2 {
	text-align:center;
}
.eyecontact_innerproduct {
  text-align:center;
}
.eyecontact {
  background: #F3F3F3;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.eyecontact h2 {
  margin-top:30px;
}
#cms-static-mix-custom-product .mix-product-box.banner-product,
#cms-static-mix-custom-product .mix-product-box.magic-onsale-product ,
#cms-static-mix-custom-product .mix-product-box.magic-featured-product {
 display:none;
}
.cms-static-mix-custom-product .mix-product-box {
    width: 100%;
}
.cms-static-mix-custom-product .product-items .product-item {
   clear:none!important;
    width: 25%;
}
.cms-static-mix-custom-product .product-item .product-item-info .images-container {
    width: 100%;
}
.brandOuterbox .regular {
  padding: 30px 0;
}
.brandOuterbox .regular .brand_img {
  text-align: center;
    display: inline-block;
    padding: 0 20px;
}
.catalog-product-view .newpolicy-box,
.catalog-product-view #cms-static-mix-custom-product,
.catalog-product-view .eyecontact {
  display:none;
}

.catalog-product-view .cms-static-brands .cms-brand-main {
  border:none;
}
.catalog-product-view .brandOuterbox .regular {
    border-top: 1px solid #CDC4C4;
}
.catalog-product-view .brandOuterbox:before,
.catalog-product-view .brandOuterbox .regular:before {
  display:none;
}
.home-slider .slick-slide.slick-active .figcaption h3.caption1 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
}
.home-slider .slick-slide.slick-active .figcaption .text-slide.text-slide3 a.btn-shop {
    color: #ffffff;
    background-color: #E9A025;
    min-width: 154px;
    display: inline-block;
    text-align: center;
    height: 45px;
    line-height: 45px;
    border-radius: 50px;
    margin-top: 25px;
    font-size: 16px;
}
.home-slider .slick-slide.slick-active .figcaption .text-slide.text-slide3 a.btn-shop:hover {
    color: #ffffff;
    background-color: #45A8F7;
}
/*=========== List Page style Here ===========*/
ul.socialMedia-new li {
  float:left;
  margin-right:10px;
}
.page-footer #cms-static-main-footer ul.socialMedia-new li a {
  width: 55px;
    display: block;
    text-align: center;
    background: #fff;
    color: #000;
    font-size: 22px;
    border-radius: 50px;
    height: 55px;
    line-height: 50px;
    padding-left: 5px;
   border: 4px solid #000;
}
.page-footer #cms-static-main-footer ul.socialMedia-new li a:hover {
    border: 4px solid #fff;
}
.cms-static-mix-custom-product .product-item .product-item-info .images-container {
      padding: 25px;
}
.cms-static-mix-custom-product .product-item .product-item-info .product-item-details {
    width: 100%;
    padding: 0 25px;
}
.cms-static-mix-custom-product .item:hover .product-item-info {
    box-shadow: 0 0 6px rgba(1, 1, 1, 0.3);
    padding-bottom: 40px;
    margin-bottom: 0;
}
.cms-static-mix-custom-product .product-items .product-item .product-item-info, .cms-static-mix-custom-product .item .product-item-info,
.cms-static-mix-custom-product .item:hover .product-item-info {
    margin: 10px;
}
.cms-static-mix-custom-product .item .product-item-info {
  box-shadow:0 0 6px rgba(1, 1, 1, 0.3);
}
.brandOuterbox .slick-prev:hover, .brandOuterbox .slick-next:hover,.brandOuterbox .slick-prev:hover:before,.brandOuterbox .slick-next:hover:before {
    color: #45a8f7;
}
.cms-static-mix-custom-product .mix-product-box  .slick-prev:hover:before,
.cms-static-mix-custom-product .mix-product-box .slick-next:hover:before{
    color: #45a8f7;
    background-color: rgba(0, 0, 0, 0);
}
.cms-static-mix-custom-product .mix-product-box .slick-prev {
    left: auto;
    right: 28px;
}
.cms-static-mix-custom-product .mix-product-box .slick-prev, .cms-static-mix-custom-product .mix-product-box .slick-next {
      top: -70px;
     background: #000;
    border-radius: 50px;
    width: 38px;
    color:#fff;
}
.static-home-slide .magicslider .slick-dots li:hover button, 
.static-home-slide .magicslider .slick-dots li.slick-active button {
    background: #45A8F7;
}

.cms-static-mix-custom-product .block-title-tabs .magictabs .item.activated .title {
    font-size: 26px;
    color: #000;
    font-weight: 700;
    text-align: center;
    width: 100%;
}
.cms-static-mix-custom-product .block-title-tabs .magictabs .item.activated .title:before {
    border-bottom: none;
}

.cms-static-mix-custom-product .block-title-tabs .magictabs .item {
      width: 100%;
}
.cms-static-mix-custom-product  .block-title-tabs {
     border-bottom: none;
}
#cms-static-brands {
display:none;
}
.cms-static-mix-custom-product .mix-product-box .slick-prev:before, 
.cms-static-mix-custom-product .mix-product-box .slick-next:before {
  opacity:1;
}
.eyecontact .magicproduct {
      width: 50%;
    margin: 0 auto;
}

.eyecontact .magicproduct .block-title-tabs {
    display:none;
} 
.eyecontact .magicproduct .item .product-item-info {
     background-color: #fff;
    margin: 10px;
   padding-bottom:40px;
      border: solid 1px #e8e8e8;
    border-radius: 8px;
}
.eyecontact .magicproduct .slick-slider .slick-dots {
    bottom: -30px;
}



.page-footer .footer-links-company .footer-copyright #backtotop {
    bottom: 63px;
}
.address,.hot-number {
color:#fff;
}
.paymentgateway {
    position:relative;
}

.page-footer .footer-links-company .footer-copyright .main1 {
    float: none;
}
.page-footer .footer-links-company .footer-copyright .main2 {
    display: none;
}

.paymentgatewayOuter {
  background: #F3F3F3;
}
.block-newletter .input-box .subscribe-panel .panel-text2 {
  display:none;
}
.paymentgateway ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.paymentgateway ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 15px;
}

.paymentgateway ul li img {
  border-radius:12px;
    width: 100px;
   border:4px solid #45A8F7;
}

.paymentgateway  {
    width: 100%;
    margin: 0 auto;
}
.catalog-category-view .toolbar .sorter,
.catalog-category-view .toolbar .limiter {
    float: left;
}
.toolbar-top .toolbar .sorter .sorter-options {
    min-width: 145px;
}
.actions-toolbar .primary a.action {
    color: #fff;
    background-color: #45A8F7;
    border-color: #45A8F7;
}
button.action,div.actions-toolbar .primary a.action,
.header .header-account .toggle-content a {
    background: #45A8F7;
    border: solid 1px #45A8F7;
color: #fff;
}
.customer-account-login .login-container .block .block-title:before,
.customer-account-create .form-create-account .fieldset .legend:before {
    border-bottom: solid 2px #45A8F7;
}
.actions-toolbar>.primary .action span {
   color:#fff;
}
.block-newletter .block-content .input-box {
    width: 65%;
    margin: 0 auto;
}
.block-newletter .block-content .input-box .subscribe-panel {
    width: calc(100%* 5 / 12);
}
.cms-static-mix-custom-product .product-item .special-price .price,
.cms-static-mix-custom-product .price-box>.price-container .price {
    font-size: 20px;
 }
.cms-static-mix-custom-product .product-item .special-price .price {
  color:#000;
}

.magicmenu .nav-desktop .level0 .level-top span.icon-text,
.magicmenu .nav-desktop .level0 .level-top span {
    font-weight: 400;
}
.magicmenu .nav-desktop .level0.active a,
.magicmenu .nav-desktop .level0 .level-top>span {
   font-size:16px;
}
div.header-top {
    background-color: #F3F3F3;
 }
.header .welcometop {
   font-weight: bold;
}
#product-options-wrapper ul {
 padding:0;
}
#product-options-wrapper ul li {
list-style-type:none;
font-weight: 600;
    color: #000;
    font-size: 15px;
}
#product-options-wrapper ul li select {
 border-radius:0;
width:158px;
}
.product-info-main .product-options-wrapper .fieldset .field {
    margin-bottom: 0;
}

.pres_box ul li:nth-of-type(4),.pres_box ul li:nth-of-type(2),
.pres_box ul li:nth-of-type(3) {
  padding-top:15px
}
.product-info-main .attribute {
  display:none;
}
.pres_crip {
      padding: 15px 0;
    font-weight: 600;
    color: #000;
}
.quantity-manager input[type="number"] {
    height: 40px;
    padding: 0 5px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 0;
}
.styledSelect:after {
    top: 15px;
}
.quantity-manager {
  position:relative;
overflow:hidden;
width: 158px;
}
.quantity-wrapper {
   width: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0px;
    border-left: 1px solid #ebebeb;
   
}
.quantity-wrapper  add-up{
    width: 40px;
    border-bottom: 1px solid #ebebeb;
    height: 17px;
}

.quantity-wrapper .add-down {
  width: 40px;
}

.page-footer .footer-links-company .footer-copyright #backtotop {
    bottom: 63px;
}
.address,.hot-number {
color:#fff;
}
.paymentgateway {
    position:relative;
}

.page-footer .footer-links-company .footer-copyright .main1 {
    float: none;
}

.page-footer .footer-links-company {
     border-top: 1px solid #414141;
}
.paymentgatewayOuter {
  background: #F3F3F3;
}
.block-newletter .input-box .subscribe-panel .panel-text2 {
  display:none;
}
.paymentgateway ul {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.paymentgateway ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 15px;
}

.paymentgateway ul li img {
  border-radius:12px;
    width: 100px;
   border:4px solid #45A8F7;
    height: 55px;
}

.toolbar-top .toolbar .sorter .sorter-options {
    min-width: 145px;
}
.actions-toolbar .primary a.action {
    color: #fff;
    background-color: #45A8F7;
    border-color: #45A8F7;
}
button.action,div.actions-toolbar .primary a.action,
.header .header-account .toggle-content a {
    background: #45A8F7;
    border: solid 1px #45A8F7;
color: #fff;
}
.customer-account-login .login-container .block .block-title:before,
.customer-account-create .form-create-account .fieldset .legend:before {
    border-bottom: solid 2px #45A8F7;
}

.block-newletter .block-content .input-box {
    width: 65%;
    margin: 0 auto;
}
.block-newletter .block-content .input-box .subscribe-panel {
    width: calc(100%* 5 / 12);
}
.cms-static-mix-custom-product .product-item .special-price .price,
.cms-static-mix-custom-product .price-box>.price-container .price {
    font-size: 20px;
 }
.cms-static-mix-custom-product .product-item .special-price .price {
  color:#000;
}

.magicmenu .nav-desktop .level0 .level-top span.icon-text,
.magicmenu .nav-desktop .level0 .level-top span {
    font-weight: 400;
}
.magicmenu .nav-desktop .level0.active a,
.magicmenu .nav-desktop .level0 .level-top>span {
   font-size:16px;
}
div.header-top {
    background-color: #F3F3F3;
 }
.header .welcometop {
   font-weight: bold;
}
#product-options-wrapper ul {
 padding:0;
}
#product-options-wrapper ul li {
list-style-type:none;
font-weight: 600;
    color: #000;
    font-size: 15px;
}
#product-options-wrapper ul li select {
 border-radius:0;
width:158px;
}
.product-info-main .product-options-wrapper .fieldset .field {
    margin-bottom: 0;
}

.pres_box ul li:nth-of-type(4),.pres_box ul li:nth-of-type(2),
.pres_box ul li:nth-of-type(3) {
  padding-top:15px
}
.product-info-main .attribute {
  display:none;
}
.pres_crip {
      padding: 15px 0;
    font-weight: 600;
    color: #000;
}
.quantity-manager input[type="number"] {
    height: 40px;
    padding: 0 5px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 0;
}
.styledSelect:after {
    top: 15px;
}
.quantity-manager {
  position:relative;
overflow:hidden;
width: 158px;
}
.quantity-wrapper {
   width: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0px;
    border-left: 1px solid #ebebeb;
   
}
.quantity-wrapper  add-up{
    width: 40px;
    border-bottom: 1px solid #ebebeb;
    height: 17px;
}

.quantity-wrapper .add-down {
  width: 40px;
}
.cms-static-mix-custom-product .mix-product-box .slick-prev, .cms-static-mix-custom-product .mix-product-box .slick-next {
     width: 30px;
     height: 30px;
}
.page-footer div.block-footer-top {
     padding-bottom: 0;
}
#cms-static-page-bottom {
     margin-top: 35px;
}
.cms-static-mix-custom-product .item .product-item-info {
    box-shadow: 0 0 6px rgba(1, 1, 1, 0.3);
}
.block-minicart div.block-content .actions .primary .action.primary.checkout,
.cart-container ul.checkout-methods-items .action.primary,
.checkout-cart-index .cart.main.actions .action.clear, .checkout-cart-index .cart.main.actions .action.update {
    color: #fff;
    background: #45A8F7;
    border: solid 1px #45A8F7;
 }
.minicart-wrapper .block-minicart {
    border-color: #45A8F7;
}
.header .minicart-wrapper .block-minicart {
  border-top: solid 2px #45A8F7;
}
.header div.minicart-wrapper .showcart .cart-icon .counter.qty {
   background: #45A8F7;
  color: #fff;
}
.eyecontact .magicproduct .item .product-item-info {
   border-radius:8px;
}

.checkout-payment-method .payment-method-title {
  padding:  0;
}
.checkout-index-index .fieldset .field {
    margin-bottom: 10px;
}
div.opc-block-summary {
    background-color: #fff !important;
}
.checkout-index-index .opc-block-summary .product-image-container {
    float: left;
}
.checkout-index-index .field._required select {
     width: 100%;
}
.checkout-index-index .opc-wrapper .step-title {
    font-size: 24px;
    margin-top: 0;
}
.checkout-index-index div.authentication-wrapper .action {
    color: #fff;
    background: #45A8F7;
    border: solid 1px #45A8F7;
}
.checkout-index-index .opc-wrapper button.action {
     color: #fff;
    background: #45A8F7;
    border: solid 1px #45A8F7;
}
.checkout-index-index .checkout-payment-method .payment-methods .actions-toolbar .primary.checkout {
    padding: 10px 17px;
}

.stripe-checkout-icon-container .stripe-icon {
      float: left;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-method-content {
  padding-bottom:0;
}
.payment-option.opc-payment-additional.newsletter.last {
  display:none;
}
.opc-block-summary .items-in-cart .product.options {
  display:block;
box-shadow: none;
border: none;
}
.payment-method-amasty_stripe .payment-method-title .label {
  padding:0;
}
.product-options-bottom .quantity-adder {
  position:relative;
}
.ui-slider .ui-slider-range,
.ui-slider-handle {
  background: #45A8F7;
}
.sidebar .block .filter-title strong:before, .sidebar .block .block-title strong:before {
     border-bottom: solid 2px#45A8F7;
}

/*=========== 08-08-2024 ===============*/

.product-options-bottom .quantity-adder {
  overflow: hidden;
}
.quantity-wrapper .add-up {
  width: 40px;
    line-height: 20px;
    border-bottom: 1px solid #ebebeb;
}
.modal-popup .action-close {
     top: -16px;
}
.products.wrapper.grid .product-item div.product-item-info:hover .button.btn-cart,
div.product-item-info:hover button.button {
    color: #ffffff;
    background-color: #45A8F7;
    border-color: #45A8F7;
}
.brand_img img {
  opacity:0.6;
}
.brand_img:hover  img{
 opacity:1;
}

.header .search-area .form-search {
    border: 2px solid #45A8F7;
}
.header .content-search .search-area .form-search .action.search {
   background: #45A8F7;
    right: -1px;
}
div.box-tocart .fieldset .actions .tocart {
  color: #fff;
    background-color: #45A8F7;
    border-color: #45A8F7;
}
.catalog-product-view .product.detailed .items-tabs .data.title.active .data.switch:after,
.block.related .block-title:before, .block.crosssell .block-title:before, .block.upsell .block-title:before,
.block.related .products.wrapper.grid .product-item .product-item-info:hover .actions-cart .button.btn-cart, .block.crosssell .products.wrapper.grid .product-item .product-item-info:hover .actions-cart .button.btn-cart, .block.upsell .products.wrapper.grid .product-item .product-item-info:hover .actions-cart .button.btn-cart {
    background: #45A8F7;
}
.catalog-product-view .product.detailed .items-tabs .data.title.active .data.switch:before {
  border-bottom: solid 2px #45A8F7;
}
.related-products .product-item-info {
   box-shadow: 0 0 6px rgba(1, 1, 1, 0.3);
    margin: 10px;
}
.header .top-link-product li:not(:last-child) {
    margin-right: 20px;
}
.eyecontact_innerproduct  .product-item .product-item-info .category_name,
.cms-index-index .magic-bestseller-product .product-item .product-item-info .category_name {
  font-size:0;
}
.checkout-index-index .opc-wrapper .label button.action {
    background: transparent;
    border: none;
    line-height: 18px;
}
.box-tocart .quantity-adder {
  position:relative;
}
.checkout-payment-method .payment-method-title .payment-icon {
    float: right;
    margin: 0 0 0 0px;
}
.checkout-payment-method .payment-method-title .action-help {
 display:none;
}
.header .header-account .toggle-content .customer-welcome {
    margin-right: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-method .label {
      width: 93%;
}
.checkout-index-index .modal-popup.modal-slide._show .modal-inner-wrap {
    top: 35px;
    transform: translateX(-50%);
    left: 50%;
   border-radius:0;
}
.header .header-account .toggle-content li {
 margin-right:0;
}
.header .header-account .toggle-content {
 z-index:222;
}
.magicmenu ul.nav-desktop .level0 .level-top-mega .children a:hover, .magicmenu ul.nav-desktop .level0.home .level-top-mega a:hover, .magicmenu ul.nav-desktop .level0.dropdown .level1 a:hover, .vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a:hover {
    color: #45A8F7;
}
.wishlist-index-index .form-wishlist-items .products-grid.wishlist .product-items .product-item {
    width: calc(89% / 3);
}
.wishlist-index-index .form-wishlist-items .products-grid.wishlist button.action {
    color: #fff;
    background: #45A8F7;
    border: solid 1px #45A8F7;
}
#product-options-wrapper #right_main ul li div.mage-error,
#product-options-wrapper #left_main ul li div.mage-error {
  position: absolute;
}
.minisearch .searchsuite-autocomplete .title {
    background: #45A8F7;
    color: #fff;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement input[type="checkbox"] {
     height: 14px; 
}
#password-strength-meter-container {
   margin-bottom: 15px;
}
.magicmenu .nav-desktop > .level0 > .level-top-mega {
    min-height: auto;
}
.customer-account-createpassword .form .choice,
.customer-account-createpassword .form .confirmation  {
  margin-bottom:15px;
}

#magecomp-cookie-template .cookietext {
   display: block;
}
.product-next-prev .category-back a:hover {
    border-color: #45A8F7;
}
.product-next-prev .product-prev:hover, .product-next-prev .product-next:hover {
    border: 1px solid #45A8F7;
}
.product-next-prev .category-back a:hover {
    background-color: #45A8F7;
  }
.product-info-main .product-prev .product-item-photo, .product-info-main .product-next .product-item-photo {
    border-color: #45A8F7;
}
.product-prev:before, .product-next:before {
       border-bottom-color:#45A8F7;
}
#magecomp-cookie-template {
    display: flex;
}
.gift-options-content textarea {
    border-radius: 16px;
}
.customer-review h2,
.how-trust h2{
color: #000;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
     padding-top: 40px;
}
.how-trust h2{
    padding-bottom: 35px;
   margin-bottom: 25px;
}

.how-trust h3 {
  font-weight: 600;
margin-bottom:10px;
}
.how-trust-outer {
    margin-bottom: 40px;
}
.how-trust-outer,.how-trust {
 position:relative;
}

.static-home-slide .slick-slide img {
    min-height: 300px;
}
/*======== New Styling Here =============*/

.magicmenu .nav-desktop .level0.active a, .magicmenu .nav-desktop .level0 .level-top>span,.magicmenu .nav-desktop .level0 .level-top-mega .level0>.level1>a,
.cms-static-mix-custom-product .block-title-tabs .magictabs .item.activated .title,
.header .minicart-wrapper .showcart .cart-icon .counter.qty,
div.block-newletter .input-box .visible .actions .subscribe span {
   font-family: 'Roboto', sans-serif;
}

.customer-review h2,
.how-trust h2{
color: #000;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
     padding-top: 40px;
}
.how-trust h2{
    padding-bottom: 35px;
   margin-bottom: 25px;
}

.how-trust h3 {
  font-weight: 600;
margin-bottom:10px;
}
.how-trust-outer {
    margin-bottom: 40px;
}
.how-trust-outer,.how-trust {
 position:relative;
}


.static-home-slide .slick-slide img {
    min-height: 300px;
}
.paymentgateway {
    width:100%;
  
}
div.vmagicmenu .level0 .level-top-mega .children a:hover, div.vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a:hover {
    color: #45A8F7;
}

.vmagicmenu .level0 .level-top-mega:before {
   border-top: solid 2px #45A8F7;
}
.catalog-product-view .fotorama__nav--thumbs .fotorama__nav__frame.fotorama__active:before {
   border: solid 2px #45A8F7;
}
.first-lens-box-shadow-box {
  box-shadow: 0 0 6px rgba(1, 1, 1, 0.3);
    padding: 20px 15px;
    margin-bottom: 30px;
min-height: 115px;
}
.slick-dots li.slick-active button {
    background: #45A8F7;
}

.magicmenu .nav-desktop .level0.over>a, .magicmenu .nav-desktop .level0.active>a, .magicmenu .nav-desktop .level0.active>a span.icon-text, .magicmenu .nav-desktop .level0>a:hover, .magicmenu .nav-desktop .level0>a:hover.icon-text {
    background: #333e48;
}
.magicmenu .nav-desktop .level0 .full-width, .magicmenu .nav-desktop .level0 .level-top-mega, .magicmenu .nav-desktop .level0.dropdown .level0, .magicmenu .nav-desktop .level0.dropdown .hasChild ul, .magicmenu .nav-desktop .level0.dropdown .hasChild ul {
    background-color: #ffffff;
    border-color: #45a8f7;
}
.vmagicmenu .level0 .level-top-mega, .vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0, .vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul {
    background-color: #ffffff;
    border-color: #ededed;
}
.magicmenu .nav-desktop>.level0.home>a.level-top:after, .magicmenu .nav-desktop>.level0.hasChild>a.level-top:after {
    border-bottom: solid 7px #45A8F7;
}
.brandOuterbox .slick-prev,.brandOuterbox .slick-next {
     color: #aaaaaa;
}
.header .minicart-wrapper .block-minicart {
    background: #fff;
}
#product-options-wrapper ul.options span li {
    font-weight: 400;
    font-size: 14px;
}
.product-img-box h1.page-title{
margin-top:0;
}
.vmagicmenu-narrow .cat.nav-1 .content-mega-horizontal {
  width: 670px;
}
.magicmenu .nav-desktop .level0 .level-top-mega .help-support-menu .level0>.level1>a {
 padding:0;
}

.cms-page-heading h4{
   font-size:18px;
   font-weight:600;
  margin:10px 0;
}
.first-lens-box-shadow-box:hover {
  background:#45A8F7;
  color:#fff;
}
.actions-primary button.action {
    color: #fff;
    background: #45A8F7;
    border: solid 1px #45A8F7;
    transition: all .4s ease;
}
.magicmenu .nav-desktop > .level0.dropdown-help > ul.level0.submenu {
  display:none!important;
}
.catalog-product-view .product.detailed .items-tabs .data.title:hover .data.switch {
    color: #45A8F7;
}
#product-options-wrapper ul li {
    margin-bottom: 18px;
}
.pres_box ul li:nth-of-type(5), .pres_box ul li:nth-of-type(6), .pres_box ul li:nth-of-type(7) {
    padding-top: 15px;
}
.magicmenu .nav-desktop .level0.active .level-top span,
.magicmenu .nav-desktop .level0.active a.level-top span.icon-text,
.magicmenu .nav-desktop.sticker .level0 a:hover {
  color:#fff;
}
.contact-content .actions-toolbar button.primary {
  background-color: #45A8F7;
  border-color: #45A8F7;
}