*{
    padding:0;
    margin:0;
}
h1,h2,h3,h4,h5,h6,p{
    padding:0;
    margin:0;
}
.content nav,table thead tr,.mp-heading{
background:{{var pdfInvoiceDesign.getHeadingColor()}};
}

.header-left .info h4{
color: {{var pdfInvoiceDesign.getHeadingColor()}};
}
.header{
    background:#4c4a4b;
    height:150px;
}
.content nav{
    height: 69px;
}
.content nav h1{
    margin-left:50px;
    line-height:70px;
}
.clr{
    clear:both;
}
.header-left{
    width:69%;
    height:150px;

    float:left;
}
.address,.phone,.address{
    width:33.33%;
    float:left;
}
.header-right{
    width:30%;
    float:left;
    height: 150px;
}
ul{
    padding:0 !important;
    margin:0 !important;
}
ul li{
    list-style:none;
}
.logoright a{
    text-align:centerl
}
.logo-right{
    height: 150px;
    padding-top: 30px !important;
    margin-left: 30px;
}
.header-left .info{
    margin: 40px 0px 0px 30px;
    font-size: 12px;

}
.header-left .info ul li{
    color:white;
}

.info{
    padding-top:30px;
}
.contnet-top,.items,footer{
    padding:30px 50px
}
.shipping-info h3,.billing-info h3,.payment-method h3,.shipping-method h3{
    margin: 10px 0px 10px 0;
}
.section-right{
    float:right;
    width:50%;
    height:100px;
    text-align:right;
}
.section-left{
    float:left;
    width:50%;
    height:100px;
}

.odd{
    background:#f1f0f0;
}
.even{
    background:#ddd;
}

.heading{
    float:left;
    width:50%;
    height:70px;
}
.heading-right{
    float:right;
    width:30%;
    height:70px;
}
.invoice-id{
    margin-top:10px;
}
img{
    margin-top: 0px !important;
}
.clr{
    clear:both;
}
/* Css table items */
.table{
    width:100%;
}
.header-table{
    width:100%;
    height:100%;
}
.mp-item{
    float:left;
    padding:6px 0px;
}

/*4 columns*/
.four-columns .mp-item{
    width:41%;
}
.four-columns .mp-qty,.four-columns .mp-price,.four-columns .mp-subtotal,.four-columns .mp-tax,.four-columns .mp-discount {
    width: 13%;
}
/*end for 4 columns*/

/*5 columns*/
.five-columns .mp-item{
    width:35%;
}
.five-columns .mp-price,.five-columns .mp-subtotal,.five-columns .mp-tax,.five-columns .mp-discount {
    width: 13%;
}
.five-columns .mp-qty{
    width:7%;
}
/*end for 5 columns*/

/*6 columns*/
.six-columns .mp-item{
    width:32%;
}
.six-columns .mp-qty,.six-columns .mp-price,.six-columns .mp-subtotal,.six-columns .mp-tax,.six-columns .mp-discount {
    width: 10%;
}
/*end for 6 columns*/

.mp-qty,.mp-price,.mp-subtotal,.mp-tax,.mp-discount{
    float:left;
    text-align:center;
    padding:6px 0px;
}
.mp-image{
    width:15%;
    float:left;
    text-align:center;
    padding:6px 0px;
}
.mp-heading{
    width:100%;
    height:32px;
    color:#FFF;
}
.mp-heading span{
    font-weight:bold;
}
.mp-item{
    padding-left:5px
}
.order-totals{
    text-align: right;
    margin-top:20px;
}
.mp{
    width: 100%;
    height: 35px;
}
.mp-str{
    font-weight: bold;
    width: 80%;
    float: left;
}
.mp-right{
    width: 1%;
    float: left;
}
/* End css table items*/

.footer-left,.footer-right{
    width:50%;
    float:left;
}
/*for barcode*/

/*4 columns*/
.four-columns .mp-price-bc,.four-columns .mp-subtotal-bc,.four-columns .mp-tax-bc,.four-columns .mp-discount-bc{
    width:15%;
}
.four-columns .mp-barcode-bc{
    width: 20%;
}
.four-columns .mp-image-bc{
    width:17%;
}
/*end for 4 columns*/

/*5 columns*/
.five-columns .mp-price-bc,.five-columns .mp-subtotal-bc,.five-columns .mp-tax-bc,.five-columns .mp-discount-bc{
    width:12%;
}
.five-columns .mp-barcode-bc{
    width: 16%;
}
.five-columns .mp-image-bc{
    width:15%;
}
/*end for 5 columns*/

/*6 columns*/
.six-columns .mp-price-bc,.six-columns .mp-subtotal-bc,.six-columns .mp-tax-bc,.six-columns .mp-discount-bc{
    width:10%;
}
.six-columns .mp-barcode-bc{
    width: 14%;
}
.six-columns .mp-image-bc{
    width:13%;
}
/*end for 6 columns*/
.mp-item-bc{
    width:25%;
    float:left;
    padding:6px 0px 6px 5px;
}
.mp-image-bc{
    float:left;
    text-align:center;
    padding:6px 0px;
}
.mp-image-bc img{
    max-width:100%;
}
.mp-barcode-bc{
    float: left;
    padding:6px 0px;
}
.mp-barcode-bc p{
    text-align: right;
}
.mp-price-bc,.mp-subtotal-bc,.mp-tax-bc,.mp-discount-bc{
    float:left;
    text-align:center;
    padding:6px 0px;
}
.mp-qty-bc{
    width:7%;
    float:left;
    text-align:center;
    padding:6px 0px;
}
/*end for barcode*/
.payment-method .table-caption{display: none}
